# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.venv/
venv/

.env
credentials.json
token.json

uploads/*
!uploads/.gitkeep
__pycache__/app.cpython-313.pyc
__pycache__/sheets_writer.cpython-313.pyc
__pycache__/app.cpython-313.pyc
__pycache__/sheets_writer.cpython-313.pyc
